<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head th:fragment="headC">
        <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
                        <title>Sorbo Único</title>
                        <script src="https://kit.fontawesome.com/485d2f57e5.js" crossorigin="anonymous"></script>
                        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
                            <link rel="stylesheet" href="css/contacto.css">
                                <link rel="stylesheet" href="css/normalize.css">
                                    </head>

                                    <body>
                                        <header th:fragment="header" class="header">
                                            <div class="contenedor"> 

                                                <div class="barra-nav contenedor">
                                                    <a class="logo" href="/"><h1 class="logo_nombre no-margin centrar-texto"><span class="logo_nombre_light">Sorbo<b>Único</b></span></h1></a>
                                                    <nav class="nav">
                                                        <a class="nav-link" href="/Perfil" th:text="#{menu.miPerfil}"></a>
                                                        <a class="nav-link" href="/Menu" th:text="#{menu.menu}"></a>
                                                        <a class="nav-link" href="/Reserva" th:text="#{menu.reservas}" sec:authorize="hasRole('ROLE_USERPREMIUN')"></a>
                                                        <a class="nav-linkSelec" href="/Contacto" th:text="#{menu.contacto}"></a>
                                                        <a class="nav-link" href="/Nosotros" th:text="#{menu.nosotros}"></a>
                                                        <a class="nav-link" href="/cliente/listado" th:text="#{menu.cliente}" sec:authorize="hasRole('ROLE_ADMIN')"></a>
                                                        <a class="nav-link" href="/Login"><i class="fa-solid fa-right-from-bracket"></i></a>
                                                        
                                                    </nav>
                                                </div>
                                            </div>         
                                        </header>

                                        <main th:fragment="main" class="contenido">
                                            <div class="contenido-contacto">
                                                <div class="info">
                                                    <div class="info-telefono">
                                                        <h3 th:text="#{contacto.tel}"></h3>
                                                        <p>2555-5555</p>
                                                    </div>
                                                    <div class="info-email">
                                                        <h3>Email</h3>
                                                        <p>sorbounico@gmail.com</p>
                                                    </div>
                                                    <div class="info-horario">
                                                        <h3 th:text="#{contacto.HA}"></h3>
                                                        <p th:text="#{contacto.sem}"></p>
                                                    </div>
                                                </div>

                                                <div class="cuadro_mapa">

                                                    <iframe 
                                                        class="mapa_ubi"
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19805.96090310567!2d-84.04682071164731!3d9.933919584292111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3f47ea4ff37%3A0x7a7818a6a9e5c90c!2sUniversidad%20Fid%C3%A9litas!5e0!3m2!1ses!2scr!4v1650068880231!5m2!1ses!2scr" 
                                                        allowfullscreen="" 
                                                        loading="lazy" 
                                                        referrerpolicy="no-referrer-when-downgrade">
                                                    </iframe>

                                                </div>
                                            </div>

                                        </main>

                                        <footer th:fragment="footer" class="footer">
                                            <div class="contenido-footer">
                                                <div class="redes">
                                                    <i class="fa-brands fa-facebook-f fa-2x redes-fb"
                                                       onclick="location.href = 'https://www.facebook.com/Sorbo-%C3%9Anico-106033188724357/?ref=page_internal'"></i>
                                                    <i class="fa-brands fa-instagram fa-2x redes-ins"
                                                       onclick="location.href = 'https://www.instagram.com/sorbo.unico/'"></i>
                                                </div>

                                                <p class="derechos" th:text="#{footer.derechos}">&COPY;</p>
                                            </div>
                                        </footer>

                                    </body>

                                    </html>