<!DOCTYPE html>
<!--By:Joel,Ale-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security"
      lang="en">

    <!-- SE ABRE EL HEAD -->
    <head>
        <title>Sorbo Único</title>
        <meta charset="UTF-8"/>
        <link href="/css/principal.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/850c2e9361.js" crossorigin="anonymous"></script>
    </head>

    <!-- SE ABRE EL BODY -->
    <body>

        <!-- SE ESTABLECE EL ENCABEZADO -->
        <header th:fragment="header" class="header">
            <nav class="nav">
                <a th:href="@{/Index}" class="logo nav-link" th:text="#{menu.logo}" style="font-size: 35px; font-family: sans-serif; padding: 11px 100px"></a>
                <ul class="nav-menu"> 

                    <li class="nav-menu-item"><a th:href="@{/Perfil}" th:text="#{menu.miPerfil}" class="nav-menu-link nav-link"></a></li>
                    <li class="nav-menu-item"><a th:href="@{/Menu}" th:text="#{menu.menu}" class="nav-menu-link nav-link"></a></li>
                    <li class="nav-menu-item"><a th:href="@{/}"  th:text="#{menu.reservas}" class="nav-menu-link nav-link"></a></li>
                    <li class="nav-menu-item"><a th:href="@{/}"  th:text="#{menu.contacto}" class="nav-menu-link nav-link"></a></li>
                    <li class="nav-menu-item"><a th:href="@{/}"  th:text="#{menu.nosotros}" class="nav-menu-link nav-link"></a></li>
                    <li class="nav-menu-item">
                        <form method="POST" th:action="@{/logout}" style="display: inline">                    
                            <a href="/logOut" class="nav-menu-link nav-link" onclick="this.parentNode.submit();"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                        </form>
                    </li>

                </ul>
            </nav>            
        </header>

        <!-- SE ESTABLECE LA BARRA LATERAL -->
        <aside>

        </aside>

        <!-- SE ESTABLECE EL CONTENIDO PRINCIPAL -->
        <section>

        </section>

        <!-- SE ESTABLECE EL PIE DE PAGINA -->
        <footer th:fragment="footer" class="footer">
            <div class="redesSociales">
                <a class="redesSociales-IconFace" href="https://www.facebook.com/Sorbo-%C3%9Anico-106033188724357/?ref=page_internal" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a class="redesSociales-IconIns" href="https://www.instagram.com/sorbo.unico/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <p style="font-size: 10px;" th:text="#{footer.derechos}">&copy;</p>
            </div>

        </footer>

    </body>
</html>
