<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sorbo Único</title>
        <meta charset="UTF-8"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR89SHOvwoVDlCmppl0YaLzRiD_yqNyGFeyyA&usqp=CAU"/>
        <link href="../css/style.css" rel="stylesheet" type="text/css"/>
        
        <script src="https://kit.fontawesome.com/850c2e9361.js" crossorigin="anonymous"></script>
</head>
<body style="top: 0%">

    <main th:fragment="main" class="contenedor">
        <aside class="aside">
            <div class="logo">
                <img class="logo__imagen" src="img/logo.png" alt="Logo">
            </div>
                <h1 class="aside__titulo"><span class="aside__titulo--delgado" th:text="#{registro.sorbo}"></span><b th:text="#{registro.unico}"></b></h1>
        </aside>

        <section class="principal">
            <div class="principal__contenido">
                <h2 class="principal__titulo" th:text="#{registro.creaC}"></h2>

                <form class="formulario">
                    <div class="campo">
                        <label class="campo__label" for="nombre" th:text="#{registro.nombre}"></label>
                        <input class="campo__field" type="text" placeholder="Wilberth" id="nombre">
                    </div>

                    <div class="campo">
                        <label class="campo__label" for="email"th:text="#{registro.email}"></label>
                        <input class="campo__field" type="email" id="email" placeholder="wilberth22gmail.com">
                    </div>

                    <div class="campo">
                        <label class="campo__label" for="contrasena"th:text="#{registro.contrasenna}">:</label>
                        <input class="campo__field" type="password" id="contrasena" placeholder="*********">
                    </div>

                    <div class="campo">
                        <input class="campo__boton" type="button" value="Registrarse" onclick="location.href = '/Login'">
                    </div>
                    
                    <p class="formulario__texto">¿Ya tienes cuenta? <a href="/log">Inicia sesión</a></p>
                </form>
            </div>
        </section>
    </main>
</body>
</html>