<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorbo Único</title>
    <script src="https://kit.fontawesome.com/485d2f57e5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/loginyRegistro.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body>

    <main th:fragment="main" class="contenedor">
        <aside class="aside">
            <div class="logo">
                <img class="logo__imagen" src="img/logo.jpeg" alt="Logo">
            </div>
                <h1 class="aside__titulo"><span class="aside__titulo--delgado">Sorbo</span><b>Único</b></h1>
        </aside>

        <section class="principal">
            <div class="principal__contenido">
                <h2 class="principal__titulo" th:text="#{registro.creaC}"></h2>

                <form class="formulario">
                    <div class="campo">
                        <label class="campo__label" for="nombre" th:text="#{registro.nombre}"></label>
                        <input class="campo__field" type="text" placeholder="Wilberth" id="nombre" maxlength="25">
                    </div>

                    <div class="campo">
                        <label class="campo__label" for="email" th:text="#{registro.email}"></label>
                        <input class="campo__field" type="email" id="email" placeholder="wilberth@gmail.com" maxlength="25" minlength="12">
                    </div>

                    <div class="campo">
                        <label class="campo__label" for="contrasena" th:text="#{registro.contrasenna}"></label>
                        <input class="campo__field" type="password" id="contrasena" placeholder="12345" maxlength="25" minlength="12">
                    </div>

                    <div class="campo">
                        <bottom th:text="#{registro.boton}" style="text-align: center"  class="campo__boton" type="button" value="Registrarse" onclick="location.href='/'">
                    </div>
                    
                    <p class="formulario__texto">¿Ya tienes cuenta? <a href="/Login">Inicia sesión</a></p>
                </form>
            </div>
        </section>
    </main>
</body>
</html>