:root {
    --azul: #608BA1;
    --celeste: #BEDDED;
    --cafeClaro: #FFF4E6;
    --cafeMedio: #EDD8BE;
    --cafeOscuro: #A18B70;
    
    --complementario: #D99A4C;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: var(--celeste);
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}

.contenedor {
    width: min(90%, 200rem);
    margin: 0 auto;
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

.header {
    background-image: url(../img/header.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.barra-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.logo_nombre_light {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.nav-link {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
}

.nav-link:hover {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
    border-radius: 6px;
    border: 1.7px solid #0016b0;
    border-color: white;
    transition: 0.3s;
}

.nav-linkSelec {
    padding: 2rem;
    font-size: 2.3rem;
    font-family: sans-serif;
    font-weight: 300;
    border-radius: 6px;
    border: 1.7px solid #0016b0;
    border-color: white;
    transition: 0.5s;
}


.barra-busqueda {
    display: flex;
    justify-content: center;
    margin-top: -6rem;
}

.busqueda-input {
    border-style: none;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: rgb(255 255 255 / 50%);
}


.busqueda-input:hover {
    background-color: rgb(255 255 255 / 100%);
}

.busqueda-button {
    border-style: none;
    border-radius: 1rem;
    background-color: transparent;
    margin-left: -5rem;
    padding: .5rem;
    cursor: pointer;
}

.precio {
    
    color: var(--azul)
    
}

.productos {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 4rem 0 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100rem;
    gap: 3rem;
}

.producto {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: rgb(255 255 255 / 50%);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 10px 10px -5px rgba(71,71,71,0.6);
}

.producto-nombre {
    padding: 0 0 2rem 0;
}

.producto-img{
    margin-bottom: 2rem;
    width: 25rem;
    border-radius: 1rem;
}

.share {
    position: absolute;
    top: 300px;
    left: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0 0 0 / 30%);
}

.heart {
    position: absolute;
    top: 300px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0 0 0 / 30%);
}

.share:hover {
    background-color: var(--azul);
    cursor: pointer;
}

.fa-share {
    color: black;
}

.fa-share:hover {
    color: white;
}

.heart:hover {
    background-color: var(--azul);
    cursor: pointer;
}

.fa-heart {
    color: black;
}

.fa-heart:hover {
    color: white;
}

/* Footer */

.footer {
    position: relative;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    width: 100%;
    padding: 2rem 0 0 0;
    font-size: 1.5rem;
}

.redes-fb {
    color: black;
    cursor: pointer;
    margin-right: 1rem;
}

.redes-fb:hover {
    color: #fff;
    cursor: pointer;
    margin-right: 1rem;
}

.redes-ins {
    color: black;
    cursor: pointer;
}

.redes-ins:hover {
    color: #fff;
    cursor: pointer;
}

.derechos {
    margin-bottom: 0;
    color: #fff;
}