:root {
    --azul: #608BA1;
    --celeste: #BEDDED;
    --cafeClaro: #FFF4E6;
    --cafeMedio: #EDD8BE;
    --cafeOscuro: #A18B70;
    
    --complementario: #D99A4C;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: var(--celeste);
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}

.contenedor {
    width: min(90%, 200rem);
    margin: 0 auto;
}

/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

.header {
    background-image: url(../img/header.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.barra-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.logo_nombre_light {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.nav-link {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
}

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    width: 100%;
    padding: 2rem 0 0 0;
    font-size: 1.5rem;
}

.redes-fb {
    color: #fff;
    cursor: pointer;
    margin-right: 1rem;
}

.redes-ins {
    color: #fff;
    cursor: pointer;
}

.derechos {
    margin-bottom: 0;
    color: #fff;
}