<!DOCTYPE html>
<!--By:Joel,Ale-->
<html xmlnsth="hhtp://www.thymeleaf.org"
      xmlns="hhtp://www.w3.org./1999/xhtml">
    
    <!-- SE ABRE EL HEAD -->
    <head>
        <title>Sorbo Único</title>
        <meta charset="UTF-8"/>
        <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR89SHOvwoVDlCmppl0YaLzRiD_yqNyGFeyyA&usqp=CAU"/>
        <link href="/css/Menu.css" rel="stylesheet" type="text/css"/>
        <script src="https://kit.fontawesome.com/850c2e9361.js" crossorigin="anonymous"></script>
        <meta name="description" content="Página principal de Cafetería Sorbo Único"/>
        <meta name="keywords" content="SorboUnico, HTML5,ccs3, semantica"/>
        
        
    </head>
    
    <!-- SE ABRE EL BODY -->
    <body>
        
        <!-- SE ESTABLECE EL ENCABEZADO -->
        <header th:replace="layaout/Plantilla :: header"></header>
        
        <!-- SE ESTABLECE LA BARRA LATERAL -->
        <aside>
            
        </aside>
        
        <!-- SE ESTABLECE EL CONTENIDO PRINCIPAL -->
        <section>
            
        </section>
        
    </body>
    
    <!-- SE ESTABLECE EL PIE DE PAGINA -->
    <footer th:replace="layaout/Plantilla :: footer"/>
</html>
 