<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = ”stylesheet” href = ”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
        <title>Sorbo Único</title>
        <script src="https://kit.fontawesome.com/485d2f57e5.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="../css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="../css/normalize.css" rel="stylesheet" type="text/css"/>
        <link href="../css/principal.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/Menu :: header">
            
        </header>
        
        <main th:replace="layout/Menu :: main">
            
        </main>
        
        <footer th:replace="layout/Menu :: footer">
            
        </footer>
    </body>
</html>
